<template>
    <div class="apartments-list">
        <p>
            <b>Номера, для которых будут сгенерированы коды доступов:</b>
        </p>
        <div class="apartments-list_element" v-for="apart in apartments" :key="apart.id">
            <span class="apartments__name">
                <b>- {{ apart.room_name }} / {{ apart.room_type_name }}</b>
            </span>
            <br> C: {{ apart.dfrom }} По: {{ apart.dto }}

            <div v-if="apart.room_id == '0'">
                <br><span class="status m-text-red">Данный период не распределен по номерам!</span>
            </div>
            <div v-if="apart.room_id != '0' && !apart.isSignerExists">
                <br><span class="status m-text-red">Апартаменты не синхронизированы с системой Signer!</span>
            </div>
            <div v-if="apart.isSiggnerExists && apart.locks.length == 0">
                <br><span class="status m-text-yellow">Нет привязанных замков</span>
            </div>

            <div v-if="apart.isSignerExists" class="apartments-locks">
                <div 
                    class="apartments-locks_element"
                    v-for="lockEl in apart.locks"
                    :key="lockEl['lockAlias']"
                >
                    {{ lockEl["lockAlias"] }} 
                </div>
            </div>
        </div>
        <br>
    </div>
</template>

<script>
export default {
    props: [
        'apartments',
        'locks'
    ],
    name: 'LocksInfo',
}
</script>

<style>

</style>