<template>
    <select class="form__select select m-transparent" v-model="selectedLocal" v-on:change="onChanged">
        <option v-for="item in items" :key="item.id" v-bind:value="item.id">
            {{ item.name }}
        </option>
    </select>
</template>

<script>
export default {
    props: [
        'items',
        'selected'
    ],
    data() {
        return {
            selectedLocal: null
        };
    },
    beforeMount() {
        this.selectedLocal = this.selected;
    },
    methods: {
        onChanged() {
            this.$emit('select', this.selectedLocal);
        }
    },
    mounted: function() {
        this.$emit('select', this.selectedLocal);
    }
}
</script>

<style>

</style>