<template>
  <div>
      <p v-html="request.message"></p>
      <button class="_esw-button" v-on:click="decline">Отменить</button>
      <button class="_esw-button primary" v-on:click="accept">Продолжить</button>
  </div>
</template>

<script>
export default {
    name: 'ActionConfirmationScreen',
    props: ['request'],
    data() {
        return {};
    },
    methods: {
        decline() {
            this.request.isFulfilled = true;
            this.request.action(false);
        },
        accept() {
            this.request.isFulfilled = true;
            this.request.action(true);
        }
    },
}
</script>

<style>

</style>