<template>
  <div>
    <h4>Услуги eSigner недоступны:</h4>
    <p class="g-alert">
        Пакет услуг закончился или истек пробный период.
    </p>
    Если вы недавно приобрели новый пакет услуг, попробуйте обновить страницу.
  </div>
</template>

<script>
export default {
    name: 'BillingWidgetError',
    data() { return {} },
}
</script>

<style>

</style>