<template>
  <div>
    <template
      v-if="
        isMultipleContract &&
        isMultipleContractServiceAvailable() &&
        isMultipleContractConditionsPass() &&
        !isBalanceEnoughtForMultipleContract()
      "
    >
      <p class="g-alert">
        В пакете недостаточно единиц для заселения всех гостей
      </p>
      <a
        :href="billingState.payment_page_url"
        target="_blank"
        class="switcher__item button m-primary"
        >Купить</a
      >
    </template>
    <div class="form__item">
      <div v-if="partnerTemplates && partnerTemplates.length > 0">
        <label class="form__radio-label fwb" style="padding-left: 0px">
          Выберите шаблон документа для подписания:
        </label>
        <Select
          v-bind:items="partnerTemplates"
          v-bind:selected="previousSelectedTemplate"
          v-on:select="setTemplate"
        ></Select>
      </div>
      <div v-else>
        <p class="g-alert">Отсутствует шаблон для выбора</p>
        <p>
          Пожалуйста, загрузите пользовательский шаблон в настройках аккаунта.
        </p>
      </div>

      <div v-if="usingLockService">
        <div
          v-if="partnerCheckinTemplates && partnerCheckinTemplates.length > 0"
        >
          <label class="form__radio-label fwb" style="padding-left: 0px">
            Выберите шаблон документа инструкции по заселению:
          </label>
          <Select
            v-bind:items="partnerTemplates"
            v-bind:selected="previousSelectedCheckinTemplate"
            v-on:select="setCheckinTemplate"
          ></Select>
        </div>
        <div v-else>
          <p class="g-alert">Отсутствует шаблон для выбора инструкции</p>
          <p>
            Пожалуйста, загрузите пользовательский шаблон в настройках аккаунта.
          </p>
        </div>
        <template
          v-if="
            partnerCheckinTemplates &&
            partnerCheckinTemplates.length > 0 &&
            selectedCheckinTemplate == null
          "
        >
          <p class="g-alert">Выберите шаблон инструкции</p>
        </template>
      </div>
    </div>

    <LocksInfo
      v-if="usingLockService"
      v-bind:apartments="getApartments"
    ></LocksInfo>

    <div v-if="isSmsServiceAvailable" class="form__item">
      <label class="form__radio-label fwb">
        <input
          class="form__checkbox"
          type="checkbox"
          v-model="sentMessageToCustomerOnRegister"
        />
        Отправить ссылку автоматически
      </label>
    </div>
    <div class="form__item">
      <div class="form__cell">
        <button
          class="_esw-button"
          type="submit"
          :class="{
            primary:
              !isMultipleContract ||
              !isMultipleContractConditionsPass() ||
              !isMultipleContractServiceAvailable() ||
              !isBalanceEnoughtForMultipleContract(),
          }"
          :disabled="
            !isTemplatesExists ||
            !canSentBookingRequest ||
            !isTemplateSelected(selectedTemplate) ||
            !(usingLockService ? isTemplateSelected(selectedCheckinTemplate) : true)
          "
          v-on:click="registerBaseContract"
        >
          Подписать заказчиком
        </button>
        <button
          v-if="
            isMultipleContract &&
            isMultipleContractServiceAvailable() &&
            isMultipleContractConditionsPass() &&
            isBalanceEnoughtForMultipleContract()
          "
          class="_esw-button primary"
          type="submit"
          :disabled="
            !isTemplatesExists ||
            !canSentBookingRequest ||
            !isTemplateSelected(selectedTemplate) ||
            !(usingLockService ? isTemplateSelected(selectedCheckinTemplate) : true)
          "
          v-on:click="registerMultipleContract"
        >
          Подписать каждым гостем
        </button>
      </div>
      <div class="form__cell"></div>
    </div>

    <div
      v-if="
        isMultipleContract &&
        isMultipleContractServiceAvailable() &&
        !isMultipleContractConditionsPass()
      "
    >
      <p>
        Если требуется подписание договора каждым гостем, то необходимо<br />добавить
        в бронь всех гостей с указанием их уникальных номеров телефонов.
      </p>
    </div>
  </div>
</template>

<script>
import LocksInfo from "./blocks/LocksInfo.vue";
import Select from "./blocks/Select.vue";
import registerContract from "../lib/register_contract.js";
import ESignerHelper from "../store/partners/bnovo_helper";

const TEMPLATE_CACHE_KEY = "signer_widget_selected_template";
const CHECKIN_TEMPLATE_CACHE_KEY = "signer_widget_selected_checkin_template";

export default {
  props: ["usingLockService"],
  data() {
    return {
      selectedTemplate: null,
      selectedCheckinTemplate: null,
      isMultipleContractType: false,
      sentMessageToCustomerOnRegister: false,

      isBillingConfirmAccepted: false,

      apartments: [],
    };
  },
  computed: {
    partnerTemplates() {
      return this.$eswStore.getters.getPartnerTemplates;
    },
    partnerCheckinTemplates() {
      return this.$eswStore.getters.getPartnerCheckinTemplates;
    },
    isTemplatesExists() {
      return this.$eswStore.getters.getPartnerTemplates.length > 0;
    },
    canSentBookingRequest() {
      let apartments = this.$eswStore.getters.getApartments;
      let isApartmentsValid = true;

      for (let i = 0; i < apartments.length; i++) {
        const el = apartments[i];
        isApartmentsValid =
          isApartmentsValid && el.room_id != "0" && el.isSignerExists;
      }

      return this.usingLockService ? isApartmentsValid : true;
    },
    previousSelectedTemplate: {
      get: function () {
        let templates = this.$eswStore.getters.getPartnerTemplates;
        let cache = window.localStorage.getItem(TEMPLATE_CACHE_KEY);
        let result = templates.find(el => el.id == cache);

        return result ? result.id : null;
      },
      set: function (template) {
        this.selectedTemplate = template;
      },
    },
    previousSelectedCheckinTemplate: {
      get: function () {
        let roomId = this.$eswStore.getters.getFirstRoomId;
        let templates = this.$eswStore.getters.getPartnerCheckinTemplates;
        let cache = window.localStorage.getItem(
          CHECKIN_TEMPLATE_CACHE_KEY + "_" + roomId
        );
        let result = templates.find(el => el.id == cache);

        return result ? result.id : null;
      },
      set: function (template) {
        this.selectedCheckinTemplate = template;
      },
    },
    isMultipleContract() {
      let adultsCount = this.$eswStore.getters.getAdultsCount;
      return adultsCount > 1;
    },
    getApartments() {
      return this.$eswStore.getters.getApartments;
    },
    /**
     * Флаг доступности сервиса отправки СМС с приглашением
     */
    isSmsServiceAvailable() {
      return this.$eswStore.getters.isServiceAvailable(
        ESignerHelper.SERVICES.SEND_SMS_LINK_TO_CLIENT
      );
    },
    billingState() {
      return this.$eswStore.getters.getWidgetBillingState;
    },
  },
  components: {
    LocksInfo: LocksInfo,
    Select: Select,
  },
  methods: {
    isTemplateSelected(template) {
      return typeof template == 'string' && template !== '';
    },
    setTemplate(template) {
      this.selectedTemplate = template;
      window.localStorage.setItem(TEMPLATE_CACHE_KEY, template);
    },
    setCheckinTemplate(template) {
      this.selectedCheckinTemplate = template;
      let roomId = this.$eswStore.getters.getFirstRoomId;
      window.localStorage.setItem(
        CHECKIN_TEMPLATE_CACHE_KEY + "_" + roomId,
        template
      );
    },
    registerBaseContract() {
      this.isMultipleContractType = false;

      this.processRegisterContract();
    },
    registerMultipleContract() {
      this.isMultipleContractType = true;

      this.processRegisterContract();
    },

    /**
     * Проверяет доступность сервиса множественного заселения
     */
    isMultipleContractServiceAvailable() {
      return this.$eswStore.getters.isServiceAvailable(
        ESignerHelper.SERVICES.MULTI_GUEST_SIGNING
      );
    },
    /**
     * Проверяет условие на то, что множественное заселение может быть оформлено
     * По параметрам:
     * 1. Заполнены все гости и их количество равно количеству взрослых в бронировании
     * 2. У всех гостей уникальный номер телефона
     */
    isMultipleContractConditionsPass() {
      let adultsList = this.$eswStore.getters.getAdultCustomersWithPhones;
      let primaryCustomerPhone = this.$eswStore.getters.getClientData.phone;
      let phoneList = adultsList.reduce(function (acc, customer) {
        if (customer.phone !== primaryCustomerPhone) acc[customer.phone] = true;
        return acc;
      }, []);
      let uniquePhoneList = Object.keys(phoneList);

      var allPhonesAreUnique = uniquePhoneList.length === adultsList.length;

      let adultsCount = this.$eswStore.getters.getAdultsCount;
      // +1 сделано потому что в getAdultCustomersWithPhones нет
      // гостя, для которого оформляется основное удаленное заселение
      let adultListLength = adultsList.length + 1;
      var allAdultsHavePhones = adultListLength === adultsCount;

      return allPhonesAreUnique && allAdultsHavePhones;
    },

    /**
     * Проверяет условие на то, что у аккаунта пользователя виджета
     * 1. Достаточно единиц бронирований для оформления
     * 2. Или тариф аккаунта "триал"
     */
    isBalanceEnoughtForMultipleContract() {
      let billing = this.$eswStore.getters.getWidgetBillingState;
      let adultsList = this.$eswStore.getters.getAdultCustomersWithPhones;

      return (
        billing.tarif_type_id == "trial" ||
        adultsList.length + 1 <= billing.balance
      );
    },
    async processRegisterContract() {
      await this.$eswStore.dispatch("cleanWarning");

      let contractsCount =
        this.$eswStore.getters.getAdultCustomersWithPhones.length + 1;
      let billingState = this.$eswStore.getters.getWidgetBillingState;

      const cb = () => {
        // Отключение прелоадера не сделано специально
        // виджет самостоятельно уберет прелоадер как только получит обновленный контракт(бронирование)
        this.$eswStore.dispatch("togglePreloader", true);
        // Отображение компонента "Создание заселения..."
        this.$eswStore.dispatch("contractCreating", true);

        registerContract(
          this.isMultipleContractType,
          this.$eswStore.getters.getAdultCustomersWithPhones,
          this.usingLockService,
          this.selectedTemplate,
          this.selectedCheckinTemplate,
          this.sentMessageToCustomerOnRegister,
          this.$eswStore.getters.getPartnerData,
          this.$eswStore.getters.getPartnerUser,
          this.$eswStore.getters.getWidgetApi
        ).then((result) => {
          switch (result.code) {
            case 500:
              this.$eswStore.dispatch("handleFatalError", {
                message: result.error,
              });
              break;
            case 501:
              this.$eswStore.dispatch("handleFatalError", {
                message: result.error,
              });
              break;
            case 4020:
              this.$eswStore.dispatch(
                "handleWidgetWarning",
                "Действие вашего пакета истекло"
              );
              break;
            case 4021:
              this.$eswStore.dispatch(
                "handleWidgetWarning",
                "На балансе аккаунта не осталось возможных бронирований"
              );
              break;
          }
        });
      };

      // Показывать экран подтверждения если тариф аккаунта не триал и заселений больше 1
      if (
        this.isMultipleContractType &&
        contractsCount > 1 &&
        billingState.tarif_type_id !== "trial"
      ) {
        let data = {
          message: `С вашего пакета будет списано ${contractsCount} удалённых подписаний для заселения.<br/>Готовы продолжить?`,
          onAccept: cb,
        };

        this.$eswStore.dispatch("showConfirmationScreen", data);
      } else {
        cb();
      }
    },
  },
};
</script>

<style>
</style>