<template>
  <div>
    <div class="_esw-section _esw-contracts">
      <div
        v-for="contract in contractState.bookings"
        v-bind:key="contract.code + '_' + contract.phone"
        class="_esw-contract-card _esw-accordion"
        :id="'signer_booking_' + contract.bnovo_customer_id"
        :class="{
            '_esw-contract-card_signed': isContractSigned(contract),
            '_esw-accordion-show': accordion[contract.bnovo_customer_id]
        }"
      >
        <div
            v-if="isContractSigned(contract)"
            class="_esw-accordion-icon"
            :class="{
                'i-u-arr': accordion[contract.bnovo_customer_id],
                'i-d-arr': !accordion[contract.bnovo_customer_id]
            }"
            v-on:click="toggleAccordion(contract.bnovo_customer_id)"
        >
        </div>
        <div class="m-s">
          <b v-html="$tt('status.' + contract.code)"></b>
          <br />
          {{ contract.first_name }} {{ contract.last_name }}
          {{ contract.middle_name }}

          <template v-if="!isContractSigned(contract)">
            <p
              style="cursor: pointer"
              v-on:click="copyLink(contract.form_url)"
              title="Скопировать"
            >
              Ссылка: {{ contract.form_url }}&nbsp;&nbsp;<i class="i-open"></i>
            </p>
          </template>

          <span v-if="isContractSigned(contract)">
            <br />
            тел.: <b>{{ contract.phone }}</b>
          </span>
          <span v-else-if="!contract.editing">
            тел.:
            <a
              class="signer_update_guest_show"
              :data-bnovo-customer-id="contract.bnovo_customer_id"
              v-on:click="editGuestData(contract)"
            >
              <b class="g-dotted">{{ contract.phone }}</b
              >&nbsp;<i class="i-edit"></i>
            </a>
          </span>

          <div v-if="!isContractSigned(contract) && contract.editing">
            <input
              type="tel"
              class="form__input input ml10"
              :ref="'new_phone_' + contract.bnovo_customer_id"
              :value="contract.phone"
            />
            <button
              class="
                signer_update_guest_submit
                form__button
                button
                m-s m-primary
              "
              :data-bnovo-customer-id="contract.bnovo_customer_id"
              v-on:click="saveGuestData(contract)"
            >
              Сохранить
            </button>
            <button
              class="
                signer_update_guest_cancel
                form__button
                button
                m-s m-secondary
              "
              v-on:click="cancelEditGuestData(contract)"
            >
              Отменить
            </button>
          </div>
          <small
            v-if="contract.editing"
            class="g-alert"
            :ref="'edit_phone_error_' + contract.bnovo_customer_id"
          ></small>
        </div>

        <div class="_esw-accordion-content" :id="'signer_booking_details_' + contract.bnovo_customer_id">
          <template v-if="isContractSigned(contract)">
            Серия и номер паспорта: {{ contract.passport_series }} {{ contract.passport_number }}
            <br />
            Дата выдачи: {{ formatDate(contract.passport_date) }}
            <br />
            Кем выдан: {{ contract.passport_issued_by }}
            <br />
            <br />
            <h4>Информация по подписанию:</h4>
            <p>
              Дата подписания: {{ formatDatetime(contract.sign_datetime, timezone) }}
            </p>
            <h4>Подписанные документы:</h4>
            <div v-for="doc in contract.signed_files" v-bind:key="doc.title">
                <a target="_blank" :href="doc.path">
                {{ doc.title }}
                </a>
            </div>
            <template v-if="contract.is_lock_management && contract.passcodes">
              <br />
              <h4>Статус генерации кодов доступов для апартаментов</h4>
              <div
                v-for="pc in contractPasscodes(contract)"
                :key="pc.id + '_' + pc.status_id + '_' + pc.passcode"
                class="s_passcode"
              >
                <h5 class="s_passcode-title">{{ pc.name }}</h5>
                <p class="s_passcode-content">
                  Код от замка:
                  <span class="s_passcode-end">{{
                    formatPasscodeStatus(pc.passcode, pc.status_id)
                  }}</span>
                  <br />
                  <span
                    v-if="!['cancelling', 'canceled'].includes(pc.status_id)"
                    class="s-passcode_availability"
                  >
                    Действует с:
                    <span class="s_passcode-start">{{
                      formatDatetime(pc.start_datetime, timezone)
                    }}</span>
                    <a
                      v-if="!pc.is_algorithmic && pc.status_id == 'set'"
                      href="javascript:void(0);"
                      class="s_passcode-shift_hour"
                      v-on:click="shiftPasscodeHour(pc.id, 'start_minus_hour')"
                    >
                      (-1 час)
                    </a>
                    по
                    <span class="s_passcode-end">{{
                      formatDatetime(pc.end_datetime, timezone)
                    }}</span>
                    <a
                      v-if="!pc.is_algorithmic && pc.status_id == 'set'"
                      href="javascript:void(0);"
                      class="s_passcode-shift_hour"
                      v-on:click="shiftPasscodeHour(pc.id, 'end_plus_hour')"
                    >
                      (+1 час)
                    </a>
                  </span>
                  <span
                    class="s_passcode-error"
                    :ref="'passcode_error_block_' + pc.id"
                  ></span>
                </p>
              </div>
            </template>
          </template>
        </div>
      </div>
    </div>
    <div v-if="contractState.code == 'new' && isCanSentLink" class="form__item">
      <div class="form__cell">
        <a href="#" class="form__button button m-s" v-on:click="sendLink"
          >Отправить приглашение</a
        >
      </div>
    </div>
  </div>
</template>

<script>
import ESignerHelper from "../store/partners/bnovo_helper";

export default {
  name: "ContractInfoScreen",
  data() {
    return {
        accordion: {},
    };
  },
  computed: {
    contractState() {
      return this.$eswStore.getters.getContractState;
    },
    timezone() {
      return this.$eswStore.getters.getWidgetTimezone;
    },
    /**
     * Флаг доступности сервиса отправки СМС
     * 
     * Проверяет доступность сервиса отправки СМС на момент создания бронирования
     */
    isCanSentLink() {
      let state = this.$eswStore.getters.getContractState;

      let available = state.available_services.includes(ESignerHelper.SERVICES.SEND_SMS_LINK_TO_CLIENT); 

      return available;
    },
  },
  methods: {
    sendLink() {
      this.$eswStore.dispatch("togglePreloader", true);
      this.$eswStore.dispatch("sendLinkToGuest").then(
        (r) => {
          // Анимация загрузки уйдет при изменении состояния контракта (автоматически)
        },
        () => {
          this.$eswStore.dispatch(
            "handleWidgetWarning",
            "Ошибка при отправке СМС"
          );
          this.$eswStore.dispatch("togglePreloader", false);
        }
      );
    },
    copyLink(link) {
      navigator.clipboard.writeText(link).then(
        function () {
          /* clipboard successfully set */
          // window.alert('Success! The text was copied to your clipboard')
        },
        function () {
          /* clipboard write failed */
          // window.alert('Opps! Your browser does not support the Clipboard API')
        }
      );
    },
    isContractSigned(contract) {
      return ESignerHelper.signedStatuses.includes(contract.code);
    },
    editGuestData(contract) {
      contract.editing = true;
      this.$forceUpdate();
    },
    saveGuestData(contract) {
      let input = this.$refs["new_phone_" + contract.bnovo_customer_id];
      let phoneError =
        this.$refs["edit_phone_error_" + contract.bnovo_customer_id][0];
      let replaceRegex = /[^\d^\+]+/g;
      let value = input[0].value.replaceAll(replaceRegex, "");
      let isValid = false;

      let contractsWithSameNumber = this.contractState.bookings.filter((el) => {
        return el.phone.replaceAll(replaceRegex, "") == value;
      });

      let phoneRegex = ESignerHelper.CONTRACT_PHONE_REGEX;
      if (!value.match(phoneRegex))
        phoneError.innerHTML =
          "Пожалуйста, укажите российский номер телефона (с префиксом +7 или 8)";
      else if (value == contract.phone)
        phoneError.innerHTML = "Номер не был изменен";
      else if (contractsWithSameNumber.length > 0)
        phoneError.innerHTML = "Совпадает с номером другого гостя";
      else isValid = true;

      if (isValid) {
        // Анимация загрузки уйдет при изменении состояния контракта (автоматически)
        this.$eswStore.dispatch("togglePreloader", true);
        this.$eswStore
          .dispatch("changeGuestPhone", [value, contract])
          .then((result) => {
            switch (result.status) {
              case "ok":
                contract.phone = value;
                contract.editing = false;
                this.$forceUpdate();
                break;
            }
          });
      }
    },
    cancelEditGuestData(contract) {
      contract.editing = false;
      this.$forceUpdate();
    },

    /**
     * Группировка пасскодов по апартаментам для поблочного отображения
     * bookingInfo.passcodes -  массив пасскодов, пришедший с бекенда
     */
    contractPasscodes(contract) {
      let passcodes = contract.passcodes || [];
      let grouped_passcodes = [];
      let result = [];

      for (var i = 0; i < passcodes.length; i++) {
        const el = passcodes[i];
        var room_id = `${el.room_id}_${el.period_index}`;

        // Если массив с пасскодами лдя апартаментов уже есть в объекте группировки, то добавляем пасскод к апартаментам
        // Как один из кодов апартаментов
        if (grouped_passcodes[room_id]) grouped_passcodes[room_id].push(el);
        else grouped_passcodes[room_id] = [el];
      }

      if (contract.initial_apartments) {
        let keys = Object.keys(contract.initial_apartments);

        for (let i = 0; i < keys.length; i++) {
          const el = contract.initial_apartments[keys[i]];
          const passcodes = grouped_passcodes[`${el.room_id}_${i}`];

          if (passcodes)
            for (let j = 0; j < passcodes.length; j++) {
              const pc = passcodes[j];
              result.push({
                id: pc.id,
                name:
                  el.room_name +
                  " / " +
                  el.room_type_name +
                  " (" +
                  pc.lock_name +
                  ")",
                status_id: pc.status_id,
                passcode: pc.passcode,
                is_algorithmic: pc.is_algorithmic,
                start_datetime: pc.start_datetime,
                end_datetime: pc.end_datetime,
              });
            }
        }
      }

      return result;
    },
    formatDatetime(datetime, timezone) {
      return new Date(datetime).toLocaleDateString([], {
        hour: "2-digit",
        minute: "2-digit",
        timeZone: timezone,
      });
    },
    formatDate(date) {
      return new Date(date).toLocaleDateString([], {});
    },
    formatPasscodeStatus(code, status) {
      let content = "Ошибка";

      switch (status) {
        case "set":
          content = code;
          break;
        case "canceling":
          content = this.$tt("passcode_status." + status); // В процессе отмены
          break;
        case "canceled":
          content = this.$tt("passcode_status." + status); // Отменен
          break;
        case "failed":
          content = this.$tt("passcode_status." + status); // "Ошибка установки";
          break;
        case "expired":
          content = code + ` (${this.$tt("passcode_status." + status)})`; // "Истек";
          break;
        default:
          content = this.$tt("passcode_status.default");
          break;
      }

      return content;
    },
    toggleAccordion(customerId) {
        Vue.set(this.accordion, customerId, !this.accordion[customerId]);
    },
    async shiftPasscodeHour(passcodeId, shiftType) {
      const $this = this;
      let showError = function (pcId, error) {
        $this.$refs["passcode_error_block_" + pcId][0].innerHTML = $this.$tt(
          "passcode_error." + error
        );
      };
      
      let cleanError = function(pcId) {
        $this.$refs["passcode_error_block_" + pcId][0].innerHTML = '';
      };

      let data = {
        id: passcodeId,
        shiftType: shiftType,
      };
      this.$eswStore.dispatch("togglePreloader", true);
      this.$eswStore.dispatch("shiftPasscodeHour", data).then((result) => {
        if (result.status == "error") {
          switch (result.code) {
            case "lock_wo_gateway":
            case "gateway_busy":
            case "gateway_is_offline":
            case "ttlock_timeout":
              showError(passcodeId, result.code);
              break;

            default:
              showError(passcodeId, "unexpected");
              break;
          }
        } else {
          cleanError(passcodeId);
        }
        this.$eswStore.dispatch("togglePreloader", false);
      });
    },
  },
};
</script>

<style scope>
.icon-action {
  cursor: pointer;
}

small.alert.m-red:empty {
  display: none;
}

.s_passcode-error:not(:empty) {
  color: red;
  display: block;
}
</style>