<template>
    <div>
        <h4>Ошибка в работе виджета</h4>
        <p class="g-alert" v-html="error.message"></p>
        <p>
            Если возникли вопросы, пожалуйста, свяжитесь с нами удобным для Вас способом:
            <br>
            Эл. почта: <a href="email:tech@euler.solutions">tech@euler.solutions</a>
            <br>
            Горячая линия: <a href="tel:88002013063">8(800)201-30-63</a>
        </p>
    </div>
</template>

<script>
export default {
    props: [
        'error'
    ],
    mounted() {
        if(window._eswc && window._eswc.dev) console.log(this.error);
    },
    data() {
        return {};
    }
}
</script>

<style>

</style>