<template>
  <div class="_esw-welcome">
    <div class="_esw-section">
      <p>ФИО: {{ clientData.lastName }} {{ clientData.firstName }} {{ clientData.middleName }}</p>
      <p>Номер телефона: {{ clientData.phone }}</p>
      <p>Количество гостей: {{ clientData.numberOfGuests }}</p>
    </div>
    <template v-if="!isRegistrationScreen">
      <div v-if="isLockServiceAvailable && !isLockServiceConfigured" class="_esw-section status _esw-status_orange">
        <p>
          Ваш аккаунт не синхронизирован с TTLock.
          <br/>
          В данный момент доступно только подписание документов.
        </p>
      </div>
      <div v-else-if="isLockServiceAvailable && lockServiceStatus !== 'ok'" class="_esw-section _esw-status_orange">
        <p v-html="$tt('locks_status.' + lockServiceStatus)"></p>
      </div>
      <div v-else-if="!isLockServiceAvailable" class="_esw-section _esw-status_orange">
        <p>Сервис замков недоступен для данного тарифа</p>
      </div>

      <div class="_esw-section">
        <div class="_esw-grid">
          <button class="_esw-button primary" :disabled="!isRemoteBookingPossible" v-on:click="registerContract">Удаленное подписание документов</button>
          <button class="_esw-button primary" :disabled="!(isLockServiceAvailable && isLockServiceLoaded && isLockServiceConfigured)" v-on:click="registerContractWithLocks">Удалённое заселение с замками</button>
        </div>
      </div>
    </template>
    <ContractRegistrationScreen v-if="isRegistrationScreen" v-bind:usingLockService="isRegistrationWithLocks"></ContractRegistrationScreen>
  </div>

</template>

<script>
import ContractRegistrationScreen from './ContractRegistrationScreen.vue'

export default {
    name: 'WelcomeScreen',
    data() {
      return {
        isRemoteBookingPossible: true,
        isRegistrationScreen: false,
        isRegistrationWithLocks: false,
      };
    },
    components: {
      ContractRegistrationScreen: ContractRegistrationScreen
    },
    computed: {
      contractNumber() { return this.$eswStore.getters.getContractNumber; },
      clientData() { return this.$eswStore.getters.getClientData; },
      // Флаг доступности сервиса. Определяется при загрузке виджета.
      isLockServiceAvailable() { return this.$eswStore.getters.isServiceAvailable('remote_lock_management'); },
      isLockServiceLoaded() { return this.$eswStore.getters.getServiceStatus('remote_lock_management') == 'ok'; },
      lockServiceStatus() { return this.$eswStore.getters.getServiceStatus('remote_lock_management'); },
      isLockServiceConfigured() { return this.$eswStore.getters.isLocksServiceConfigured; },
    },
    methods: {
      registerContract() {
        this.isRegistrationScreen = true;
        this.$emit('start-registration', {locks: false});
      },
      registerContractWithLocks() {
        this.isRegistrationScreen = true;
        this.isRegistrationWithLocks = true;
        this.$emit('start-registration', {locks: true});
      }
    }
}
</script>

<style>
    
</style>