<template>
  <div class="_es-warning" v-html="warning"></div>
</template>

<script>
export default {
    props: ['warning'],
    data() {
        return {};
    }
}
</script>

<style>
    ._es-warning {
        color: orange;
        padding: 4px;
        border: 1px solid grey;
        border-radius: 4px;
        text-align: center;
        margin-bottom: 4px;
    }
</style>