<template>
  <div class="_esw-body" id="_esw">
    <Startup></Startup>
    <template v-if="isLoadingData && billingState"></template>
    <div class="_esw-header">
        <h3>{{ widgetTitle }}</h3>
    </div>
    <WidgetWarning v-if="hasWarning" v-bind:warning="widgetWarning"></WidgetWarning>
    <FatalWidgetError v-if="hasFatalError" v-bind:error="fatalError"></FatalWidgetError>
    <div v-if="!hasFatalError" class="widget-content">
      <template v-if="isReady && contractState">
        <div v-if="isConfirmationRequired">
          <ActionConfirmationScreen v-bind:request="confirmationRequest"></ActionConfirmationScreen>
        </div>
        <div v-show="isContractCreating">
          <p>Создается удалённое заселение...</p>
        </div>
        <div v-show="!isConfirmationRequired && !isContractCreating">
          <WelcomeScreen
            v-if="isNewContract && isTariffAllows"
            v-on:start-registration="startRegistration"
          ></WelcomeScreen>
          <BillingWidgetError v-else-if="isNewContract && !isTariffAllows"></BillingWidgetError>
          <ContractExpiredScreen v-else-if="isExpiredContract"></ContractExpiredScreen>
          <ContractCancelledScreen v-else-if="isCanceledContract"></ContractCancelledScreen>
          <ContractInfoScreen v-else></ContractInfoScreen>
        </div>
      </template>
      <template v-else-if="!isReady"><p>Загрузка виджета...</p></template>
    </div>
  </div>
</template>

<script>
import WelcomeScreen from './components/WelcomeScreen.vue';
import FatalWidgetError from './components/FatalWidgetError.vue';
import BillingWidgetError from './components/BillingWidgetError.vue';
import WidgetWarning from './components/WidgetWarning.vue';
import ContractInfoScreen from './components/ContractInfoScreen.vue';
import ContractExpiredScreen from './components/ContractExpiredScreen.vue';
import ActionConfirmationScreen from './components/ActionConfirmationScreen.vue';
import ESignerHelper from './store/partners/bnovo_helper';
import Startup from './Startup.vue';

export default {
  data: function() {
      return {
        isRegistrationStep: false,
        isRegistrationWithLocks: false,
      };
  },
  name: "ESWidget",
  components: {
    ActionConfirmationScreen: ActionConfirmationScreen,
    WelcomeScreen: WelcomeScreen,
    ContractInfoScreen: ContractInfoScreen,
    ContractExpiredScreen: ContractExpiredScreen,
    FatalWidgetError: FatalWidgetError,
    BillingWidgetError: BillingWidgetError,
    WidgetWarning: WidgetWarning,
    Startup: Startup
  },
  computed: {
    widgetTitle() {
      let contractNumber = this.$eswStore.getters.getContractNumber;
      let state = this.$eswStore.getters.getContractState;
      let title = 'Удалённое заселение';
      let contractTitle = 'Удалённое заселение для бронирования ' + contractNumber;
      let contractWithLocksTitle = 'Удалённое подписание документов бронирования ' + contractNumber;

      // Если контракт еще не создан, то смотреть на внутренние пропсы изменяемые событием start-registration
      // из компонента WelcomeScreen
      if(this.isRegistrationStep) {
        if(this.isRegistrationWithLocks) {
          title = contractWithLocksTitle;
        } else {
          title = contractTitle;
        }
      // Если данные по контракту были получены и он создан то смотреть на флаг "использует сервис замков"
      } else if(state && state.is_lock_management !== undefined) {
        if(!state.is_lock_management) {
          title = contractWithLocksTitle;
        } else if(state.is_lock_management) {
          title = contractTitle;
        }
      }
      return title;
    },
    isReady() { return this.$eswStore.getters.isReady },
    isLoadingData() {
      let isLoadingData = this.$eswStore.getters.isLoadingData;
      this.$emit('showpreloader', {value: isLoadingData});
      return isLoadingData;
    },
    isContractCreating() { return this.$eswStore.getters.isContractCreating },
    hasFatalError() {
      let hasFatalError = this.$eswStore.getters.hasFatalError;
      if(hasFatalError) this.$emit('fatalerror', hasFatalError);
      return hasFatalError;
    },
    fatalError() { return this.$eswStore.getters.getFatalError },
    hasWarning() {  return this.$eswStore.getters.hasWidgetWarning },
    widgetWarning() { return this.$eswStore.getters.getWidgetWarning },
    isConfirmationRequired() { return this.$eswStore.getters.isConfirmationRequired },
    confirmationRequest() { return this.$eswStore.getters.getConfirmationRequest },
    contractState() {
      let contract = this.$eswStore.getters.getContractState;
      let outerState = {
        status: contract.code
      };
      // Выброс события с обновленным состоянием бронирования
      this.$emit('updatestate', outerState);
      return contract;
    },
    billingState() {
      let billingState = this.$eswStore.getters.getWidgetBillingState;
      this.$emit('updatebilling', billingState);
      return billingState;
    },
    isNewContract() {
      let contract = this.$eswStore.getters.getContractState;
      return contract.code == 0;
    },
    isCanceledContract() {
      let contract = this.$eswStore.getters.getContractState;
      return contract.code == 'canceled';
    },
    isExpiredContract() {
      let contract = this.$eswStore.getters.getContractState;
      return contract.code == 'expired';
    },
    isTariffAllows() {
      let billing = this.$eswStore.getters.getWidgetBillingState;
      if(!billing) {
        return false;
      }
      let isServiceAllowed = billing.available_services.includes(ESignerHelper.SERVICES.REMOTE_CONTRACT_SIGNING);
      let isEnoughtBalance = false;
      if(billing.tarif_type_id == 'trial') {
        isEnoughtBalance = Math.round((new Date(billing.trial_ends_at) - new Date()) / (1000*60*60*24)) >= 0;
      } else {
        isEnoughtBalance = billing.balance >= 1;
      }
      return isServiceAllowed && isEnoughtBalance;
    }
  },
  beforeMount() {
    this.$eswStore.dispatch('setWidgetTitle', 'Удалённое заселение');
  },
  errorCaptured: function(err) {
    this.$eswStore.dispatch('handleFatalError', err);
    return false;
  },
  methods: {
    startRegistration(opts) {
      this.isRegistrationStep = true;
      this.isRegistrationWithLocks = opts && opts.locks;
    }
  }
};
</script>

<style scope>
  ._esw-body {
    min-width: 550px;
    position: relative;
  }
  ._esw-header {
    position: relative;
    display: block;
    padding: 0 0 10px 0;
    font-family: "Cera Pro Medium", Arial, sans-serif;
  }
  .widget-content p {
    font-size: 1rem;
  }
  .widget-content p:not(:last-child) {
    margin-bottom: 0.6rem;
  }
  ._esw-button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 6px 20px;
    color: rgba(17, 34, 62, 1);
    background-color: rgba(237, 240, 244, 1);
    transition: opacity .3s linear;
    margin-right: 16px;
  }
  ._esw-button:last-child {
    margin-right: 0;
  }
  ._esw-button.primary {
    background-color: rgba(49, 106, 239, 1);
    color: white;
  }
  ._esw-section {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 0 8px 0;
  }
  ._esw-button:hover:not(disabled) {
    opacity: 50%;
  }
  ._esw-status_orange {
    color: orange;
  }
  ._esw-grid {
    display: flex;
  }
  ._esw-contract-card {
    position: relative;
    padding-bottom: 24px;
  }
  ._esw-accordion-icon {
    position: absolute;
    opacity: 70%;
    top: 2px;
    right: 2px;
  }
  ._esw-accordion ._esw-accordion-content {
    display: none;
  }
  ._esw-accordion._esw-accordion-show ._esw-accordion-content {
    display: block;
  }
</style>