<template></template>

<script>
export default {
  async mounted() {
    let esApiOpts = {
      token: window._eswc.token,
      domain: window._eswc.domain,
      partnerApi: window._eswc.partnerApi
    };

    let startupOptions = {
        contractId: window._eswc.contractId,
        contractPhone: window._eswc.contractPhone,
        partner: 'bnovo',
        esApi: esApiOpts
    };

    let socketOpts = {
      token: window._eswc.token,
      libPath: '//' + window._eswc.domain + window._eswc.socketLibPath,
      wssUrl: 'wss://' + window._eswc.domain + window._eswc.socketPath,
    };
    
    // Загрузка основных данных
    // Получение данных по аккаунту пользователя виджета, биллинга, запрос на получение контракта в системе
    // Получение данных по пользователю партнера, бронированию партнера
    await this.$eswStore.dispatch('startup', startupOptions);
    
    // Обновление состояния виджета посредством "пинга" бекенда
    // Может использоваться только если сокет недоступен
    // this.$eswStore.dispatch('updateState');

    // Инициализация подключения к вебсокету
    await this.$eswStore.dispatch('initSocket', socketOpts);

    // Установка флага что виджет готов(прошли все операции загрузки)
    // и отключение оверфлоу прелоадера
    this.$eswStore.dispatch('setWidgetReady');
    this.$eswStore.dispatch('togglePreloader', false);

    // Загрузка информации по замкам для апартаментов бронирования
    const isLocksConfigured = this.$eswStore.getters.isLocksServiceConfigured;

    if(isLocksConfigured)
      this.$eswStore.dispatch('loadApartmentsLocks');
  }
}
</script>

<style>

</style>